.header_container {
    width: 90%;
    height: 70px;
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-radius: 10px;
}

.part1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.clear_all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.keyword {
    
    height: 30px;
    list-style-type: none;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    padding-left: 10px;
   
}

.deleteKeyword {
    background-color: rgb(129, 129, 185);
    height: 30px;
    width: 30px;
    border: 0px;
    margin-left: 10px;
    cursor: pointer;
}


@media only screen and (max-width:865px) {
    .header_container {
        display: flex;
        flex-direction: column;
        width: 150px;
        height: unset;
        min-height: 70px;
    }
    .header_section {
        justify-content: center;
    }

    .part1 {
        display: block;
    }
}